body {
  font-family: sans-serif;
  transition: .5s;
  background-color: #2E2C41;
}

.collapsible {
  display: none;
}


h3 {
  cursor: pointer;
  padding: 2%;
  margin: 0;
}
p {
  display: none;
  cursor: pointer;
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;

}

#main {
  width: 300px;
}

.menu_header {
  background-color: #FFFFFF;
}

.menu_sub {
  background-color: #454359;
  margin: 0;
  padding: 0;
}

p:hover {
  background-color: #B63B4D;
}

h3:hover {
  color: #B63B4D;
}
