<h1>ADD NEW</h1>

<form class="" action="/new" method="post">
  <input type="input" name="species" placeholder="species" value="">
  <input type="input" name="nickname" placeholder="nickname" value="">
  <input type="input" name="level" placeholder="level" value="">
  <button>ADD</button>
</form>
